### Файлы сборки и компиляции ###
# Скомпилированные JavaScript-файлы (выходная директория TypeScript)
dist/              

### Зависимости ###
node_modules/          
jspm_packages/

### Файлы окружения ###
.env                 

### Логи и отладочная информация ###
*.log                 
logs/            

### Настройки IDE ###
.idea/              
.vscode/            

